@font-face {
    font-family: "Myriad Pro";
    src: url("../font/MYRIADPRO-BLACKCONDIT_0.OTF");
}

@font-face {
    font-family: "Myriad Pro";
    src: url("../font/MYRIADPRO-BLACKCOND_0.OTF");
}

@font-face {
    font-family: "Myriad Pro";
    src: url("../font/MYRIADPRO-BLACKSEMICNIT_0.OTF");
}

@font-face {
    font-family: "Myriad Pro";
    src: url("../font/MYRIADPRO-BLACKSEMIEXT_0.OTF");
}

@font-face {
    font-family: "Myriad Pro";
    src: url("../font/MYRIADPRO-BOLDCONDIT.OTF");
}

@font-face {
    font-family: "Myriad Pro";
    src: url("../font/MYRIADPRO-BOLDSEMIEXT_0.OTF");
}

@font-face {
    font-family: "Myriad Pro";
    src: url("../font/MYRIADPRO-LIGHTIT_0.OTF");
}

@font-face {
    font-family: "Myriad Pro";
    src: url("../font/MYRIADPRO-SEMIBOLD.OTF");
}

@font-face {
    font-family: "Myriad Pro";
    src: url("../font/MYRIADPRO-SEMICNIT_0.OTF");
}

@font-face {
    font-family: "Myriad Pro";
    src: url("../font/MYRIADPRO-SEMICN_0.OTF");
}

@font-face {
    font-family: "Myriad Pro";
    src: url("../font/MYRIADPRO-SEMIEXTIT_0.OTF");
}

@font-face {
    font-family: "Myriad Pro";
    src: url("../font/MYRIADPRO-SEMIEXT_0.OTF");
}