/*****************globals*************/

body {
    font-family: "Myriad Pro";
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
}

@media (max-width: 992px) {
    .preview {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px;
}

.preview-thumbnail.nav-tabs li {
    width: 22.5%;
    margin-right: 2.5%;
}

.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block;
}

.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0;
}

.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0;
}

.tab-content {
    overflow: hidden;
}

.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

#content_product_details {
    background: #ffffff;
    margin-bottom: 15px;
}

@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
}

.checked {
    color: #fba502;
}

.rating,
.price_product_details,
.note_ship {
    margin-bottom: 15px;
}

.sizes {
    margin-bottom: 10px;
}

.sizes ul {
    padding: 0;
    margin: 0;
}

.sizes ul li {
    display: inline-block;
    margin: 5px 10px;
}

.active_size {
    background: #fed700;
}

.size {
    padding: 5px 20px;
    border-radius: 5px;
    border: 1.2px solid #fed700;
}

.size:hover {
    background: #fed700;
    cursor: pointer;
}

.size:first-of-type {
    margin-left: 40px;
}

.quantity {
    margin: 0;
}

.quantity input {
    text-align: center;
    font-size: 18px;
    color: black;
    border: solid 1px #676767;
    height: 30px;
}

.quantity-minus {
    margin-right: -5px;
    background: transparent;
    width: 30px;
}

.quantity-plus {
    margin-left: -5px;
    background: transparent;
    width: 30px;
}

.quantity ul {
    padding: 0;
    margin: 0;
}

.quantity ul li {
    display: inline-block;
    margin: 10px 10px;
}

.quantity ul li:first-of-type {
    margin-left: 40px;
}

.price_product_details {
    font-size: 30px;
    font-weight: bold;
    color: red;
}

.price_product_details span {
    font-size: 24px;
    color: #797979;
    text-decoration-line: line-through;
    font-weight: normal;
    margin-left: 50px;
}

.shipper {
    font-size: 14px;
    color: black;
    font-weight: bold;
}

.time_ship {
    font-size: 14px;
    color: black;
}

.note_ship {
    color: #165aff;
}

.note_ship::before {
    content: url('../images/icon-free-ship.png');
    margin-right: 10px;
}

.rating {
    font-size: 18px;
}

.product-title {
    margin-bottom: 15px;
    color: #005afe;
}

.product-title h3 {
    margin: 0px;
    font-weight: bold;
}

.color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px;
}

.color:first-of-type {
    margin-left: 20px;
}

.add-to-cart {
    background: #fced00;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: #000000;
    font-size: 18px;
}

.add-to-cart:hover {
    background: #fed700;
}

.add-to-cart img {
    margin-right: 10px;
}

.tooltip-inner {
    padding: 1.3em;
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

#description_product {
    background: #ffffff;
    margin-bottom: 15px;
}

.title_description_product {
    font-size: 18px;
    color: black;
    font-weight: bold;
    line-height: 60px;
}

.title_description_product span {
    font-weight: normal;
}

.content_description_product {
    font-size: 14px;
    color: black;
}

#description_product ul {
    padding: 0;
    margin: 20px 0;
    font-size: 18px;
    color: #000000;
}

#description_product ul li {
    display: inline-block;
    margin: 5px 10px;
}

.tag {
    padding: 0 20px;
    border-radius: 5px;
    border: 1.2px solid #fed700;
}

.tag:hover {
    background: #fed700;
    cursor: pointer;
}

.tag:first-of-type {
    margin-left: 40px;
}

.active_tag {
    background: #fed700;
}

.img_tag {
    margin-right: 5px;
}

#similar_products {
    background: #ffffff;
    margin-bottom: 15px;
}

.title_similar_products {
    font-size: 18px;
    color: black;
    font-weight: bold;
    line-height: 60px;
}

.similar_products {
    position: relative;
}

.owl-next {
    position: absolute;
    right: -20px;
    top: 100px;
}

.owl-prev {
    position: absolute;
    left: -20px;
    top: 100px;
}