@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

@media (max-width: 1199px) {
    .top2 ul li {
        display: inline-block;
        margin-left: -2px;
        margin-right: -2px;
    }
    .top2 ul li a {
        margin-left: 12px;
        margin-right: 12px;
    }
    #search input {
        width: 230px;
    }
    #search img {
        position: absolute;
        right: 11px;
        top: 8px;
    }
    .hotline {
        left: 415px;
    }
    .cart {
        left: 600px;
    }
}

@media (max-width: 991px) {
    .top2 ul li {
        display: block;
        max-width: 100%;
        border-bottom: solid 1px gray;
        margin-left: 0px;
        margin-right: 0px;
        border-left: none;
        border-right: none;
    }
    .top2 ul li a {
        line-height: 51px;
        margin-left: 20px;
        margin-right: 25px;
    }
    #slide_index .carousel-inner img {
        width: 100%;
        height: auto;
    }
    #images_slide_index .image {
        padding-right: 15px;
        margin-bottom: 15px;
    }
    #images_slide_index img {
        width: 100%;
        height: auto;
    }
}