@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

@media (max-width: 1199px) {
    .top2 ul li {
        display: inline-block;
    }
    .top2 ul li a {
        margin-left: 9px;
        margin-right: 9px;
    }
    .top2 ul li img {
        margin-right: 5px;
        margin-bottom: 5px;
    }
    #search input {
        width: 230px;
    }
    #search img {
        position: absolute;
        right: 11px;
        top: 8px;
    }
    .hotline {
        left: 415px;
    }
    .cart {
        left: 600px;
    }
}

@media (max-width: 991px) {
    .top2 ul li {
        display: block;
        max-width: 100%;
        border-bottom: solid 1px gray;
    }
    .top2 ul li a {
        display: block;
        text-decoration: none;
        font-size: 12px;
        color: #000000;
        font-weight: bold;
        line-height: 51px;
        margin-left: 20px;
        margin-right: 25px;
        width: 100%;
    }
}