body {
    margin: 0px;
    box-sizing: border-box;
    background: #efefef;
    font-family: "Myriad Pro";
}

#logo {
    margin-top: 12px;
    margin-left: 15px;
}

.top1 {
    height: 80px;
    background: #000000;
    position: relative;
}

.top2 {
    background: #fbdc30;
}

.top2 ul {
    padding: 0px;
    margin: 0px;
}

.top2 ul li {
    display: inline-block;
}

.top2 ul li a {
    display: block;
    text-decoration: none;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    line-height: 50px;
    margin-left: 20px;
    margin-right: 25px;
}

.top2 ul li:hover {
    background: #efefef;
}

.top2 ul li img {
    margin-right: 9px;
    margin-bottom: 5px;
}

.active {
    background: #efefef;
}

#search {
    position: absolute;
    top: 20px;
    left: 150px;
}

#search input {
    width: 375px;
    height: 40px;
}

#search img {
    position: absolute;
    right: 11px;
    top: 8px;
}

#search img:hover {
    cursor: pointer;
}

.hotline {
    position: absolute;
    left: 600px;
    top: 8px;
    background: #fed700;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    margin-top: 12px;
}

.hotline:hover {
    cursor: pointer;
}

.hotline img {
    position: absolute;
    left: 12px;
    top: 9px;
}

.cart {
    position: absolute;
    left: 825px;
    top: 8px;
    background: #fed700;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    margin-top: 12px;
}

.cart:hover {
    cursor: pointer;
}

.cart img {
    position: absolute;
    left: 12px;
    top: 7px;
}

.login {
    position: absolute;
    right: 80px;
    top: 28px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.login:hover {
    color: #fcd700;
}

.register {
    position: absolute;
    right: 0px;
    top: 28px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.register:hover {
    color: #fcd700;
}